.section-title p {
    font-size: 20px;
    color: white;
}

.orange {
    color: #ffae4a;
}

.blog-area .single-blog .blog-body {
    padding: 20px 0;
    background-color: #ffffff;
    margin-top: -55px;
    margin-right: 0px;
    position: relative;
    z-index: 2;
}